{% extends "orders/base.html" %}
{% load static %}

{% block title %}
Корзина покупок
{% endblock %}

{% block content %}
{% if cart %}
<h1 class="basket_detail">Корзина покупок</h1>
<table class="cart_detail">
    <thead>
    <tr class="spaceUnder">
        <th>Наименование товара</th>
        <th>Картинка</th>
        <th>Колличество</th>
        <th>Обновить кол-во</th>
        <th>Цена за шт</th>
        <th>Общая стоимость</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart %}
    {% with product=item.product %}
    <tr class="spaceUnder">
        <td><a href="{% url 'shop:toy_detail' product.url %}"> {{ product }}</td>
        <td><img class="img-cart-product"
                 src="{% if product.poster %}{{ product.poster.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        </td>
        <td>{{ item.quantity }}</td>
        <td>
            <form action="{% url 'cart:update_card' product.id %}" method="post">
                {% csrf_token %}
                {{ form.quantity }}
<!--                {{ item.update_quantity_form.update }}-->
                <input type="submit" value="Обновить">
            </form>
        </td>
        <td>{{ item.price }}</td>
        <td>{{ item.total_price }}</td>
        <td><a href="{% url 'cart:cart_remove' product.id %}">Удалить</a></td>
    </tr>
    {% endwith %}
    {% endfor %}
    </tbody>
<p class="on_order">
    <a href="{% url 'orders:order_create' %}" class="button">Перейти к покупкам</a></p>
</table>
    {% else %}
    <div class="user_room_order">
        <p>В Вашей корзине пусто</p>
        <a href="{% url 'shop:title' %}" class="button light">В магазин</a>
    </div>
    {% endif %}
{% endblock %}
