{% extends 'orders/base.html' %}
{% block content %}


<div class="product_img">
<h1>Контакты</h1>
<ul>
    <li><p>Фактический адрес:</p></li>
    <li><p>127238 г. Москва,Коломенский пр-д, 3, стр. 6</p>
         <p>Тел.: (495) 555-55-55 доб. 20-00 (секретариат)</p>
         <p>8 (800) 250-00-00 — Единая справочная служба (звонок по РФ бесплатный)</p></li>
    <li><p>График работы:</p></li>
    <li><p>Ежедневно с 10:00 до 20:00</p></li>
    <li><p>Юридический адрес:</p></li>
    <li><p>119415, г. Москва, пр-т Андропова, д.50</p></li>
    <li><p>ОГРН 10000000000p></p></li>
</ul>
</div>

{% endblock content %}
