{% extends 'toy_shop/base.html' %}
{% block content %}

<h1>Доставка</h1>
<div class="product_img">

<h2>Забрать в магазине</h2>
<h3>Через час — бесплатно</h3>
<ul>
    <li><p>Соберём заказ с полок магазина. Положим его в шкаф самовывоза, откуда вы сможете забрать его самостоятельно уже через чаc</p></li>
    <li><p>Стоимость: бесплатно</p>
    <li><p>Минимальная сумма заказа: 500 ₽</p></li>
    <li><p>Заказ храним 1 день (до конца следующего дня)</p></li>
</ul>
<h2>Привезти в магазин</h2>
<h3>От 1 до 9 дней — бесплатно</h3>
<ul>
    <li><p>Привезём заказ в магазин со склада. Положим его в шкаф самовывоза, откуда вы сможете забирать его самостоятельно</p></li>
    <li><p>Срок доставки: от 1 до 9 дней. </p>
    <li><p>Стоимость: бесплатно</p></li>
    <li><p>Минимальная сумма заказа: 500 ₽</p></li>
    <li><p>Заказ храним 5 дней</p></li>
</ul>
<h2>Доставка курьером</h2>
<h3>Через 2 дня — 199 ₽ или бесплатно</h3>
<ul>
    <li><p>Привезём заказ к Вам домой со склада.</p></li>
    <li><p>Срок доставки: от 1 до 9 дней. </p>
    <li><p>Минимальная сумма заказа: 500 ₽</p></li>
</ul>

</div>

{% endblock content %}
