{% extends 'toy_shop/base.html' %}


{% block title %}Информация о товаре  - {{ toy.name }}{% endblock %}


{% block content %}
     <h2>Информация о товаре - {{ toy.name }}</h2>
     <h3>{% if toy.poster %}
         <p><img class="imd-article-left" src="{{toy.poster.url}}"></p>{% endif %}</h3>
     <h3>Описание - {{ toy.description }}</h3>
     <h3>Цена - {{ toy.price }}</h3>

    <form action="{% url 'cart:cart_add' toy.id %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Добавить в корзину">
    </form>

     <p>
         {% for link in toy.product_image.all %}
         <img src="{{ link.link.url }}">
         {% endfor %}
     </p>
    <li>
    <form action="{% url 'shop:add_rating' %}" method="post" name="rating">
        <b>Рейтинг:</b>
        {% csrf_token %}
        <input type="hidden" value="{{ product.id }}" name="product">
        <span class="rating">
              {% for k, v in star_form.fields.star.choices %}
                   <input id="rating{{ v }}" type="radio" name="star"
                          value="{{ k }}">
                   <label for="rating{{ v }}">{{ k }}</label>
              {% endfor %}
              </span>
        <span class="editContent">4.0</span>
    </form>
    </li>

<p>Комментарии</p>
<ul>
{% for item in toy.product_reviews.all %}
<li>
Дата создания: {{item.created}} <br>
Автор: {{item.user}} <br><br>
{{item.description}} <br>
</li>
{% endfor %}
</ul>
<hr>
<p>Добавить комментарии</p>
<div class="col-4">
    <form action="" id="add_form" method="post">
        {% csrf_token %}
            {{form.as_p}}
    </form>
    <button form="add_form" type="submit" class="btn.btn-primary">Добавить</button>


</div>
{% endblock content %}

