{% extends 'toy_shop/base.html' %}


{% block title %}Информация о книге  - {{ book.title }}{% endblock %}


{% block content %}
     <h2>Информация о товаре - {{ toy.name }}</h2>
     <h3>{% if toy.poster %}
         <p><img class="imd-article-left" src="{{toy.poster.url}}"></p>{% endif %}</h3>
     <h3>Описание - {{ toy.description }}</h3>
     <h3>Цена - {{ toy.price }}</h3>
     <p>
         {% for link in toy.product_image.all %}
         <img src="{{ link.link.url }}">
         {% endfor %}
     </p>
<p>Комментарии</p>
<ul>
{% for item in toy.product_reviews.all %}
<li>
Дата создания: {{item.created}} <br>
Автор: {{item.cuser}} <br><br>
{{item.description}} <br>
</li>
{% endfor %}
</ul>
<hr>
<p>Добавить комментарии</p>
<div class="col-4">
    <form action="" id="add_form" method="post">
        {% csrf_token %}
            {{form.as_p}}
    </form>
     <button form="add_form" type="submit" class="btn.btn-primary">Добавить</button>
</div>
{% endblock content %}

