{% extends 'orders/base.html' %}
{% block content %}

<div class="product_img">
<h2>Возрат в магазин</h2>
<ul>
    <li><p>г. Москва,Коломенский пр-д, 3, стр. 6</p></li>
    <li><p>График работы:</p></li>
    <li><p>Ежедневно с 10:00 до 20:00</p></li>
</ul>
<h2>Возрат курьером</h2>
<h3>Бесплатно</h3>
<ul>
    <li><p>Заберет заказ у вас из дома.</p></li>
    <li><p>Срок возрата: от 1 до 9 дней. </p>
    <li><p>Свяжитесь с нами для возрата. </p>
    <li><p>8 (800) 250-00-00 — Единая справочная служба (звонок по РФ бесплатный)</p></li>
</ul>
</div>

{% endblock content %}
