{% extends 'toy_shop/base.html' %}
{% block content %}


<div class="row">
    {% for product in product_list %}
    <div class="products clearfix">
        <div class="product">
            <img class="img-product" src="{{ product.poster.url }}"  alt="" >
        </div>
        <div class="item-info-product">
            <h4 class="">
                <a href="{% url 'shop:toy_detail' product.url %}" class="editContent" >{{ product }}</a>
                <h3>Цена - {{ product.price }}</h3>
            </h4>
        </div>
    </div>
    {% endfor %}
</div>
{% for p in paginator.page_range %}
                   {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
                   {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
                   {% endif %}
{% endfor %}

{% endblock content %}

