{% extends "orders/base.html" %}

{% block title %}Заказы{% endblock title %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Чат</title>
</head>

<div class="body_message">
    <header></header>
    <main>
        <div class="chat-box">
            <div class="messages">
                <div class="message">
                    <div class="message__data">
                        <p class="admin-user">Username</p>
                        <p>12:00</p>
                    </div>
                    <div class="message__body">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, eligendi. Minima ipsum ut
                            ullam
                            magnam dignissimos odit maiores qui vero! Libero, reiciendis. Placeat totam eaque quos id fugit
                            dolor quisquam.</p>
                    </div>
                </div>
                <div class="message">
                    <div class="message__data">
                        <p class="admin-user">Toy_shop_admin</p>
                        <p>12:00</p>
                    </div>
                    <div class="message__body">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, eligendi. Minima ipsum ut
                            ullam
                            magnam dignissimos odit maiores qui vero! Libero, reiciendis. Placeat totam eaque quos id fugit
                            dolor quisquam.</p>
                    </div>
                </div>
            </div>
            <div class="chat__input">
                <textarea name="message" id="id_message" rows="10" placeholder="Текст сообщения"></textarea>
                <button type="submit">Отправить</button>
                {{ dialog|json_script:"dialog" }}
                <button id="close-chat" type="button">Завершить диалог</button>
            </div>
        </div>
    </main>
</div>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</div>

{% endblock %}

