{% extends "orders/base.html" %}

{% block title %}Чат{% endblock title %}

{% block content %}

<div class="body_message">
    <header></header>
    <main>
        <div class="chat-box">
            <div class="messages" id="list_message">
                {% if messages %}
                {% for message in messages %}
                <div class="message">
                    <div class="message__data">
                        <p class="admin-user">{{message.user.username}}</p>
                        <p>{{message.create_at}}</p>
                    </div>
                    <div class="message__body">
                        <p>{{message.body}}</p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="chat__input">
                <textarea name="message" id="id_message" rows="10" placeholder="Текст сообщения"></textarea>
                <button type="submit" id="btn-send">Отправить</button>
                {{ room_name|json_script:"room-name" }}
                {% if request.user.is_superuser %}
                <button id="close-chat" type="button">Завершить диалог</button>
                {% endif %}
            </div>
        </div>
    </main>
</div>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const listMessage = document.getElementById('list_message')
        document.getElementById('btn-send').addEventListener('click', sendMessage)



        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            const frag = document.createRange().createContextualFragment(
            `
            <div class="message">
                <div class="message__data">
                    <p class="admin-user">${data.username}</p>
                    <p>12:00</p>
                </div>
                <div class="message__body">
                    <p>${data.message}</p>
                </div>
            </div>
            `
            );
            listMessage.appendChild(frag)

            //document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

       // document.querySelector('#chat-message-input').focus();
      //  document.querySelector('#chat-message-input').onkeyup = function(e) {
      //      if (e.keyCode === 13) {  // enter, return
      //          document.querySelector('#chat-message-submit').click();
      //      }
      //  };

        function sendMessage() {
            let message = document.getElementById('id_message')
            console.log(message)
            chatSocket.send(JSON.stringify({
                'message': message.value
            }));
            message.value = ''
        }

        function closeChat(event) {
            chatSocket.send(JSON.stringify({
                'action': 'close',
                'chat': roomName
            }));
            chatSocket.close()
            //let user = document.querySelector('#chat-message-user').value
            window.location = '/admin_app/chats/'
        }
        document.getElementById('close-chat').addEventListener('click', closeChat)


    </script>
</div>

{% endblock %}

