* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.page {
    min-height: 100%;
    padding-bottom: 90px;
    box-sizing: border-box;
}
.header{
    max-height: 100%;
    height: 200px;
    background: #fff url('../image/12.jpg') no-repeat center;
}
.header_text {
    padding-top: 60px;
    padding-left: 100 px;
    width: 400px;
    font-family: Tahoma, Arial;
    font-size: 38px;
}
.register {
    margin: 0 0 5px 1300px;
    list-style: none;
}
.cart{
    margin: 0 0 5px 1300px;
}
.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #EDEEF0;
    color: #285473;
    width: 350px;
}
.menu_item {
    padding: 2px;
    margin: 10px 0 10px 10px;
}
.menu_item_button {
    margin: 10px 0 10px 10px;
}
.menu_search {
    margin: 20px 0 10px 10px;
}
.reg {
	float: right;
}
nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}

.top-menu li {
	display: inline-block;
	padding: 7px 5px;
	margin: 0 0 0 180px;
}

.top-menu li.active {
	background: #29c5e6;
	color: #fff;
}

.top-menu a {
	color: #b2b2b2;
}
aside {
	float: left;
	width: 250px;
}
section {
	margin-left: 280px;
	padding-bottom: 50px;
}
.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	color: #29c5e6;
}

.aside-menu a {
	color: #8f8f8f;
}
.img-cart-product {
    width: 100px;
    height: 100px;
}

.img-product {
    width: 200px;
    height: 200px;
    margin: 20px 0 20px 0;
}
.review {
    list-style: none;
    padding: 5px 0 5px 0;
}
.star {
    margin: 20px 0 20px 0;
}
ul.stars li {
    display: inline-block;
}

ul.stars li a span {
    font-size: 0.7em;
    color: #6a6c6d;
    margin: 0 0.2em;
}

ul.stars li a span:hover {
    opacity: 0.8;
}

span.product-new-top {
    background: #414b52;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 0.3em 1.2em;
    color: #fff;
}
.row {
    margin: 10px 0 0 250px;
}
.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.box {
    width: 33%;
}
@media screen and (max-width: 576px) {
  .container {
      flex-wrap: wrap;
      align-items: center;
     }
  .box {
      width: 50%;
  }
}
.description_product {
	position: relative;
	margin: 20 px 0 20 px;
	font-size: 1em;
	line-height: 1.4em;
	height: 5.6em;
	overflow: hidden;
}
.product_price{
    margin: 20px 0 20px 0;
}
.product_des {
    margin: 0 270px 0 270px;
}
.product_img {
    margin: 0 270px 0 270px;
}
.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}
.product {
	display: block;
	border: 1px solid #b5e9a7;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
	height: 300px;
}
@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}

.rating {
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: 155px;
  height: 30px;
}

.rating > input {
  opacity: 0;
  margin-right: -100%;
}

.rating > label {
  position: relative;
  display: block;
  float: right;
  background: url('../image/star-off-big.png');
  background-size: 30px 30px;
}

.rating > label:before {
  display: block;
  opacity: 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url('../image/star-on-big.png');
  background-size: 30px 30px;
  transition: opacity 0.2s linear;
}

.rating > label:hover:before,  .rating > label:hover ~ label:before,  .rating:not(:hover) > :checked ~ label:before { opacity: 1; }
.footer {
    height: 90px;
    margin-top: -90px;
    box-sizing: border-box;
    background: rgba(204, 204, 204, 0.43);
    border-radius: 0 0 20px 20 px;
    padding: 5px;
    color: #777;
    font-size: 11px;
    font-family: Verdana;
    text-align: center;
}
.order {
    margin: 0 100px 0 0;
}
#reg_form {
    width: 400px;
    margin: 30px 0 50px 500px;
    padding: 20px;
    background: #fff;
    box-shadow: 5px 5px 10px #aaa;
}

.reg_list {
    list-style: none;
    margin: 10px 0 10px 0;
    padding: 0;
}
.reg_title {
    display: inline-block;
    min-width: 110px;
}
.log_title{
    display: inline-block;
    min-width: 150px;
}
