{% extends 'orders/base.html' %}

{% block content %}
{% if orders %}
<h1 class="user_room">История заказов</h1>
<table class="cart_user_detail">
    <thead>
      <tr class="spaceUnder">
        <th>Номер заказа</th>
        <th>Дата создания</th>
        <th>Статус</th>
        <th>Детали</th>
        <th> </th>
      </tr>
    </thead>
     <tbody>
     {% for order in orders %}
    <tr class="spaceUnder">
        <td>{{order.id}}</td>
        <td>{{order.created}}</td>
        <td>{{ order.get_order_status_display }}</td>
        <td><form action="{% url 'user:user_order_detail' order.id %}">
            <button type="submit">Посмотреть детали</button>
            </form></td>
        <td><form action="{% url 'user:order_cancel' order.id %}">
            <button type="submit">Аннулировать</button>
            </form></td>
    </tr>
     {% endfor %}
    </tbody>
</table>
{% else %}
<p class="user_room_order">У Вас нет пока заказов</p>
{% endif %}
{% endblock %}
