{% extends "admin_app/base.html" %}

{% block title %}Добавить продукт{% endblock title %}

{% block content %}
<div id="add_product">
<form action="{% url 'admin_app:add_product' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for f in form %}
    <li class="reg_list"><label class="reg_title" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</li>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    {{ form_image.as_p }}
    <button type="submit">Сохранить</button>
</form>
</div>
{% endblock %}
