{% extends "admin_app/base.html" %}

{% block title %}Заказы{% endblock title %}

{% block content %}
<div class="all_product">
<table class="cart">
    <thead>
      <tr class="spaceUnder">
        <th>id</th>
        <th>Наименование</th>
        <th>Картинка</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Видимость</th>
        <th>Колличество</th>
        <th>Редактировать</th>
        <th>Удалить</th>
      </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr class="spaceUnder">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        {% if product.poster %}
            <td><img class="img-product" src="{{product.poster.url}}"></td>
        {% endif %}
        <td>{{product.description|slice:":255"}}</td>
        <td>{{product.price}}</td>
        <td>{{product.is_active}}</td>
        <td>{{product.quantity}}</td>
         <td><form action="{% url 'admin_app:product_detail' product.id %}">
        <button type="submit">Редактировать</button>
        </form></td>
        <td><form action="{% url 'admin_app:product_delete' product.id %}">
        <button type="submit">Удалить</button>
        </form></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
