<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Магазин игрушек</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
</head>
<body>
<div class="wrapper">
    <div class="page">
        <div class="header">
            <div class="header_text">
            <span>Магазин игрушек</span>
            </div>
            <div class="register">
            <header>
            {% if request.user.is_superuser %}
                <li class="last"> <a href="{% url 'admin_app:orders_list' %}">Админ</a>
            {% endif %}
			{% if request.user.is_authenticated %}
			<li class="last"> <a href="{% url 'user:user_room' user.id %}">Личный кабинет</a> | <a href="{% url 'user:logout' %}">Выйти</a></li>
			{% else %}
			<li class="last"><a href="{% url 'user:register' %}">Регистрация</a> | <a href="{% url 'user:login_view' %}">Войти</a></li>
			{% endif %}
            </header>
            </div>
            <div class="cart">
            </div>
        </div>
        <div id="wrapper">
		<nav>
			<ul class="top-menu">
				<li><a href="{% url 'shop:title' %}">Сайт</a></li>
				<li><a href="{% url 'shop:contact' %}">Контакты</a></li>
				<li><a href="{% url 'admin_app:all_product' %}">Все товары</a></li>
				<li><a href="{% url 'admin_app:add_product' %}">Добавить продукт</a></li>
                <li><a href="{% url 'chat:room' user.id %}">Чаты</a></li>
				<li><a href="{% url 'admin_app:orders_list' %}">Заказы</a></li>
			</ul>
		</nav>
</div>
    {% block content %}
    {% endblock content %}

<div class="footer">
    <p>&copy; Все права защищены.
    <p>&nbsp;
</div>
    </div>
</div>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
