{% extends "admin_app/base.html" %}

{% block title %}Детали заказа{% endblock title %}

{% block content %}
<form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
    <button type="submit">Изменить статус</button></form>
<table class="cart_detail">
    <thead>
      <tr class="spaceUnder">
        <th>Наименование товара</th>
        <th>Картинка</th>
        <th>Стоимость</th>
        <th>Колличество</th>
      </tr>
    </thead>
     <tbody>
     {% for item in order %}
     {% for i in product %}
            {% if i.id == item.product_id %}
    <tr class="spaceUnder">
        <td>{{i.name}}</td>
        <td><img class="img-product" src="{{i.poster.url}}"></td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
        </form>

    </tr>
     {% endif %}
     {% endfor %}
     {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
