{% extends "orders/base.html" %}

{% block title %}Заказы{% endblock title %}

{% block content %}
<table class="cart">
    <thead>
      <tr class="spaceUnder">
        <th>Номер заказа</th>
        <th>Пользователь</th>
        <th>Город</th>
        <th>Адрес</th>
        <th>Форма оплаты</th>
        <th>Статус</th>
        <th>Изменить статус</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
    {% for order in order_list %}
    <tr class="spaceUnder">
        <td>{{order.id}}</td>
        <td>{{order.user}}</td>
        <td>{{order.city}}</td>
        <td>{{order.address}}</td>
        <td>{{ order.get_paid_display }}</td>
        <td>{{ order.get_order_status_display }}</td>
        <td><form action="{% url 'admin_app:order_detail' order.id %}">
        <button type="submit">Посмотреть детали</button>
        </form></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
