<div id="wrapper">
		<header>
			{% if request.user.is_authenticated %}
			<li class="last"> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
			{% else %}
			<li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login_view' %}">Войти</a></li>
			{% endif %}
		</header>
		<nav>
			<ul class="top-menu">
				<li><a href="{% url 'shop:title' %}">Главная</a></li>
				<li><a href="/services/">Адреса</a></li>
				<li><a href="/partners/">Контакты</a></li>
				<li><a href="/customers/">Доставка</a></li>
				<li><a href="/projects/">Возврат</a></li>
				<li><a href="/careers/">Корзина</a></li>
			</ul>
		</nav>
</div>
<div class="cart">
    {% with total_items=cart|length %}
        {% if cart|length > 0 %}
            Your cart:
            <a href="{% url 'cart:cart_detail' %}">
                {{ total_items }} item{{ total_items|pluralize }},
                ${{ cart.get_total_price }}
            </a>
        {% else %}
            Your cart is empty.
        {% endif %}
    {% endwith %}
</div>
